* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Delicious Handrawn", cursive;
    font-family: "Poppins", sans-serif;
}

::selection {
    background: #006241;
    color: #fff;
}

.header {
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 17px 0px #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__logo {
    width: 30px;
}

.header__container-user {
    display: none;
}

.header__nav {
    display: none;
}

.header__container-user-mobile {
    color: #fff;
    font-size: 25px;
}
.main__container-logo {
    display: none;
}

.main {
    margin-top: 70px;
    padding: 15px 15px 60px;
}

.main__texto-titulo {
    font-size: 50px;
    line-height: 1.2;
}

.main__texto-titulo span {
    color: #006241;
}

.main__texto-parrafo {
    font-weight: bolder;
    margin-top: 20px;
}

.main__texto {
    display: flex;
    flex-direction: column;
}
.galley {
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__imagen {
    width: 85%;
    margin-top: 15px;
}
.contact {
    background: #000;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contac__title {
    color: #006241;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
}

.contact__form {
    background: #006241;
    padding: 15px;
    color: #fff;
    width: 280px;
}

.contact__email label {
    font-size: 14x;
}

.contact__email,
.contact__coment {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__email input::placeholder,
.contact__coment textarea::placeholder {
    font-size: 10px;
    color: #006241;
    font-weight: bolder;
}

.contact__email input,
.contact__coment textarea {
    padding: 5px;
    border-radius: 7.5px;
    border: 0;
}

.contact__email input:focus,
.contact__coment textarea:focus {
    background: #000;
    color: #fff;
}

.contact__btn-button {
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 45%;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 4px 0;
    transition: all 0.5s;
}

.contact__btn-button:hover {
    background: yellowgreen;
    border: 1px solid yellowgreen;
}

